<div id="add_company_button"><%= link_to "Add new company", new_company_path, :class => "button round" %></div>

<table>
  <tr>
    <th>Name</th>
    <th>Abbrev</th>
    <th>Industry</th>
    <th>Description</th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><%= link_to company.name, company %></td>
      <td><%= company.abbreviation %></td>
      <td><%= company.industry %></td>
      <td><%= company.description %></td>
      <td><%= link_to "delete", company, :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>
  <% end %>
</table>
