<!DOCTYPE html>
<html>
  <head>
    <title id="title">Shart | <%= @title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header class="container round">
      <div class="title">
        <h1 id="heading"><%= @title %></h1>
      </div>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path, :class => "button round" %></li>
          <li><%= link_to "Chart", chart_path, :class => "button round" %></li>
          <li><%= link_to "Companies", companies_path, :class => "button round" %></li>
        </ul>
      </nav>
    </header>
    <section class="container round">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
